::-webkit-input-placeholder {
  color: #ff9bbf !important;
}

::-moz-placeholder {
  color: #ff9bbf !important;
}

:-ms-input-placeholder {
  color: #ff9bbf !important;
}

::-ms-input-placeholder {
  color: #ff9bbf !important;
}

::placeholder {
  color: #ff9bbf !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #B71351 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #B71351 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #B71351 !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #B71351 !important;
}

input::placeholder,
textarea::placeholder {
  color: #B71351 !important;
}

input:focus,
input:hover,
input:active,
textarea:focus,
textarea:hover,
textarea:active {
  border: 1px solid #B71351 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input.error,
textarea.error {
  border: 1px solid #ec1744 !important;
}

input,
textarea {
  border: 1px solid #B71351 !important;
}

.input-disabled:hover {
  border: 1px solid #B71351 !important;
}

.textarea_resize::before {
  background: #B71351;
}

.styled-checkbox ~ label:before {
  border: 1px solid #B71351;
}

.styled-checkbox:checked ~ label:after {
  background: url(../img/icons/checked-red.svg) no-repeat center bottom;
}

button,
.content-block-more {
  background: #B71351;
  color: #B71351;
}

button span,
.content-block-more span {
  color: #e6ecff;
}

button svg,
.content-block-more svg {
  fill: #e6ecff;
}

button:hover,
.content-block-more:hover {
  -webkit-box-shadow: 0 12px 34px 0 rgba(188, 37, 91, 0.26);
  box-shadow: 0 12px 34px 0 rgba(188, 37, 91, 0.26);
}

a {
  color: #B71351;
}

a span {
  color: #e6ecff;
}

body {
  background: #B71351;
  background-image: none;
}

.main {
  background-color: #f2f5ff;
}

.enter__title {
  color: #B71351;
}

.enter__title span {
  color: #B71351;
}

.pp__check label {
  color: #41536D;
}

.pp__check label a {
  font-weight: 500;
  color: #41536D;
}

.upload__area_text {
  color: #41536D;
}

.color_green {
  color: #B71351 !important;
}

.forget-password {
  color: #243245 !important;
}

.require-box__item {
  color: #41536D;
}

.info__subtitle {
  color: #243245;
}

.enter__register a {
  color: #B71351 !important;
}

.profile__btn-back svg {
  fill: #E6ECFF !important;
}

.pp-content__form h5 {
  color: #243245;
}

.categories-box__item label {
  border: 1px solid #B71351;
  color: #B71351;
}

.pp-fund__reasons-label {
  background: #B71351;
  color: #E6ECFF;
}

.pp-fund__label {
  border: 1px solid #B71351;
  background: #F2F5FF;
}

.pp-fund__item input:checked ~ .pp-fund__label {
  background-color: #ff9bbf;
  color: #B71351;
}

.pp-fund__item input:checked ~ .pp-fund__label .pp-fund__reasons-label {
  background: #B71351 !important;
}

.pp-fund__item input:checked ~ .pp-fund__label .pp-fund__title {
  color: #B71351;
}

.pp-fund__item input:checked ~ .pp-fund__label:active {
  background: #ff9bbf !important;
}

.content-block-more:hover {
  background: #B71351;
  color: #F2F5FF;
}

.admin-filter__item select {
  border: 1px solid #B71351 !important;
  color: #B71351;
}

.profile-form-item__field input {
  border: 1px solid #B71351 !important;
}

.profile-form-item__field input::-webkit-input-placeholder {
  color: #ff9bbf !important;
}

.profile-form-item__field input::-moz-placeholder {
  color: #ff9bbf !important;
}

.profile-form-item__field input:-ms-input-placeholder {
  color: #ff9bbf !important;
}

.profile-form-item__field input::-ms-input-placeholder {
  color: #ff9bbf !important;
}

.profile-form-item__field input::placeholder {
  color: #ff9bbf !important;
}

.profile-form-item__field input:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #B71351 !important;
}

.profile-form-item__field input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ff9bbf !important;
}

.admin__subtitle {
  color: #B71351;
}

.dataTables_filter input::-webkit-input-placeholder {
  color: #B71351 !important;
}

.dataTables_filter input::-moz-placeholder {
  color: #B71351 !important;
}

.dataTables_filter input:-ms-input-placeholder {
  color: #B71351 !important;
}

.dataTables_filter input::-ms-input-placeholder {
  color: #B71351 !important;
}

.dataTables_filter input::placeholder {
  color: #B71351 !important;
}

.tabs__nav-item button,
.tabs__nav-item a {
  border: 1px solid #ff9bbf;
}

.tabs__nav-item .tabs__nav-btn--active {
  background: #B71351 !important;
}

.tabs__nav-item button:hover,
.tabs__nav-item a:hover {
  background: #B71351 !important;
}

.profile__earns > :last-child {
  margin-left: 0;
}

.admin__stat > :last-child {
  color: #B71351;
}

.admin-search input::-webkit-input-placeholder {
  color: #ff9bbf !important;
}

.admin-search input::-moz-placeholder {
  color: #ff9bbf !important;
}

.admin-search input:-ms-input-placeholder {
  color: #ff9bbf !important;
}

.admin-search input::-ms-input-placeholder {
  color: #ff9bbf !important;
}

.admin-search input::placeholder {
  color: #ff9bbf !important;
}

.admin__export-inner {
  background: #E6ECFF;
}

.categories-box__item input:checked ~ label {
  background: #B71351;
}

.textarea_resize {
  display: none!important;
}
.tox-tinymce {
  width: 100%;
}
.stock__avatars {
  display: none!important;
}
.stock__authors {
  margin-top: 42px;
}
.d-cover__item input:checked ~ label {
  box-shadow: 0 0 0 1px #B71351;
}
.d-cover__item .d-cover__check svg circle{
  fill: #B71351;
}
.d-cover__item label:hover {
  box-shadow: 0 0 0 1px #B71351;
}
#admin-table tbody td:last-child a, #admin-table tbody td:last-child span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    margin-right: 3px;
    cursor: pointer;
}
#admin-table tbody td:last-child a img, #admin-table tbody td:last-child span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.popup-del-report__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.popup-del-report__btns .content-block-more {
    height: 60px;
    width: 100%;
}
.popup-del-report h3, .popup-download-report h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #B71351;
}
.popup-del-report__btns .js-modal-close {
    height: 60px;
    color: #B71351;
    background: none;
}
.popup-del-report__btns .js-modal-close:hover{
    box-shadow: none;
}
.popup-del-report__btns .js-modal-close span {
    color: #B71351;
}
.popup-download-report .content-block-more {
    height: 60px;
}
.file-form {
  margin-bottom: 32px;
} 
.file-form__top {
    padding: 16px 32px;
    display: grid;
    grid-template-columns: 124px 1fr;
    align-items: center;
    gap: 24px;
    border: 1px dashed #41536D;
    position: relative;
    cursor: pointer;
}
.file-form__icon img {
    margin: 0 auto;
}
.file-form__top input {
    display: none
}
.file-form__top p {
    color: #41536D;
    align-self: center;
    text-align: center;
    max-width: 277px;
}
.file-form__top p span {
    font-weight: 500;
    color: #B71351;
}
.file-form__body {
    margin-top: 16px;
}
.file-form__body  p {
    color: #41536D;
    margin-bottom: 8px;
}
.file-form__item {
    display: flex;
    align-items: center;
}
.file-form__name {
    font-weight: 500;
    font-size: 20px;
    color: #41536D;
}
.file-form__del {
    flex: 0 0 20px;
    cursor: pointer;
    margin-left: 10px;
}
.file-form__del svg {
    display: block;
    width: 20px;
    height: 20px;
}
.content-block-more.next-step-proj.disabled {
    opacity: 0.4;
    pointer-events: none;
}
#admin-table {
    padding-bottom: 20px;
    display: block;
    overflow: auto; 
    border-bottom: 0;
}
#admin-table::-webkit-scrollbar {
    height: 4px;
    background: #fff;
}
#admin-table::-webkit-scrollbar-thumb {
    background: #B71351;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 8px;
}
table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px;
}
table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
    padding-right: 24px;
}
.item-checkbox span {
    font-weight: 500;
    color: #b71351;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-align: left;
}
.item-checkbox input:checked+span:before {
    border-color: #b71351;
    background: #b71351;
}
.item-checkbox input:checked+span:after {
    opacity: 1;
}
.item-checkbox span:after, .item-checkbox span:before {
    content: "";
    display: block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.item-checkbox span:before {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #ff9bbf;
    margin: 3px 12px 4px 4px;
}
.item-checkbox span:after {
    width: 10px;
    height: 6px;
    background: url(../img/icons/check.svg) center / contain no-repeat;
    opacity: 0;
    position: absolute;
    top: 8px;
    left: 7px;
    z-index: 2;
}
.form .item-checkbox span {
    font-size: 18px;
    font-weight: 400;
    color: #41536d;
    display: block;
    padding-left: 28px;
}
.form .item-checkbox span:before {
    position: absolute;
    left: 0;
}
.form .item-checkbox {
    display: inline-block;
    position: relative;
}
.form .item-checkbox input {
    display: none
}
.form .main-btn {
    width: 100%;
    font-weight: 500;
    color: #e6ecff;
    padding: 16px 32px;
    border-radius: 66px;
    background: #b71351;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.form__footer {
    margin-top: 56px;
}
.log-modal .modal__close {
    background: transparent;
}
@media (max-width: 1700.98px) {
    .form__footer {
        margin-top: 32px;
    }
    .item-checkbox span:before {
        margin: 0 8px 0 0;
    }
    .item-checkbox span:after {
        top: 5px;
        left: 3px;
    }
    .form .item-checkbox span {
        font-size: 16px;
    }
}
@media (max-width: 1700.98px) {

}
@media (max-width: 991.98px){
    .file-form__body p {
      font-size: 14px;
    }
}
@media (max-width: 767.98px){
    .file-form__top {
      padding: 8px 16px;
      grid-template-columns: 70px 1fr;
      gap: 16px;
    }
}
@media (any-hover: hover) {
  .pp-fund__item input:checked ~ .pp-fund__label:hover {
    background-color: #ff9bbf;
  }

  .pp-fund__label:hover {
    background-color: #ff9bbf;
  }

  .categories-box__item label:hover {
    background: #B71351;
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
    display:block;
}

.modal.open .modal__content {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal__overlay {
  padding: 90px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal__content {
  width: 100%;
  max-width: 800px;
  padding: 56px 100px;
  margin: auto;
  border-radius: 60px;
  background: #F2F5FF;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal__top {
  text-align: center;
  padding-bottom: 4px;
  margin-bottom: 28px;
}

.modal__top h3 {
  font-size: 38px;
  color: #B71351;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 60px;
  top: 32px;
  z-index: 2;
}

.modal__close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal__close svg {
  fill: #B71351;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200.98px) {
  .modal__overlay::-webkit-scrollbar-thumb {
    background-color: #41536D;
    border-radius: 4px;
  }

  .modal__overlay::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    background-color: #E6ECFF;
  }
}

@media (max-width: 1700.98px) {
  .modal__overlay {
    padding: 50px 15px;
  }

  .modal__content {
    max-width: 700px;
    padding: 48px 80px;
    border-radius: 40px;
  }

  .modal__close {
    width: 32px;
    height: 32px;
    right: 50px;
    top: 26px;
  }

  .modal__top {
    margin-bottom: 20px;
  }

  .modal__top h3 {
    font-size: 30px;
  }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #B71351;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    z-index: 1000;
    overflow: hidden;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1200.98px) {
  .modal__top h3 {
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {
  .modal .main-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .modal__overlay {
    padding: 40px 0 0;
    overflow: hidden;
  }

  .modal__content {
    max-width: 100%;
    max-height: 100%;
    padding: 48px 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    margin: auto 0 0;
    -webkit-transform: scale(1) translateY(100px);
    -ms-transform: scale(1) translateY(100px);
    transform: scale(1) translateY(100px);
  }

  .modal__scroll {
    padding-bottom: 48px;
    overflow: auto;
  }

  .modal__scroll::-webkit-scrollbar {
    display: none;
  }

  .modal__top {
    background: #F2F5FF;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .modal__close {
    top: 15px;
    right: 15px;
  }
}

[data-add-report]{cursor:pointer;}
[data-remove-report]{cursor:pointer;}

