
.notfound {
    padding-bottom: 24px;
    overflow: hidden;
    h1, h4 {
        margin-bottom: 32px;
    }
	&__inner {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        gap: 24px;
        align-items: center;
    }
    &__img {
        grid-column: 3/13;
    }
	&__content {
        grid-column: 15/24;
        margin-bottom: 48px;
        h4 {
            max-width: 660px
        }
    }
    @media (max-width: $bp1) {
        h1, h4 {
            margin-bottom: 24px;
        }
        &__img {
            grid-column: 2/13;
        }
        &__content {
            grid-column: 17/25;
            margin-bottom: 0;
            h4 {
                max-width: 400px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__img {
            grid-column: 1/13;
        }
        &__content {
            grid-column: 15/25;
        }
    }
    @media (max-width: $bp3) {
        margin-bottom: 40px;
        &__img {
            margin: 0 auto 32px;
        }
        &__inner {
            display: block;
        }
    }
    @media (min-width: $bp5) and (max-width: $bp3) {
        &__img {
            max-width: 500px;
        }
        &__content {
            text-align: center;
            h4 {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @media (max-width: $bp5) {
        .main-btn {
            width: 100%;
            max-width: 384px;
        }
    }
}