.main-about {
    position: relative;
    margin-top: -1px;
    overflow: hidden;
    .svg-path {
        top: 0;
        height: 100%;
        left: 45%;
        z-index: 2;
    }
    &--sticky:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(0deg, $light-blue 0%, rgba(202, 215, 250, 0.8) 100%);
    }
    .swiper {
        overflow: visible;
    }
    .swiper-wrapper {
        position: relative;
    }
    .swiper-slide {
        padding: 24px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .swiper-pagination {
        display: none;
    }
    .logo-nn {
        justify-self: center;
    }
    &__wrapper {
        min-height: calc(100vh - 130px);
        padding: 48px 24px 24px;
        background: $white-blue;
        border-radius: 60px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        align-items: center;
        @media (min-height: 1300px) {
            min-height: 900px;
        }
    }
    &__content {
        max-width: 680px;
        text-align: center;
        justify-self: center;
        h2 {
            margin-bottom: 40px;
        }
        .h4 {
            color: $pol-blue;
            max-width: 608px;
            margin: 0 auto 40px;
        }
    }
    &__path {
        position: absolute;
        bottom: -4%;
        left: 74%;
        pointer-events: none;
        transition: all 0.15s linear;
        path {
            transition: all 0.5s linear;
        }
    }
    @media (max-width: $bp1) {
        .svg-path {
            transform: scaleX(0.5);
            left: 34%;
        }
        .logo-nn {
            max-width: 282px;
        }
        .swiper {
            .main-about__content {
                max-width: 400px;
            }
        }
        &__wrapper {
            min-height: 500px;
        }
        &__content {
            max-width: 440px;
            h2,
            .h4 {
                margin-bottom: 24px;
            }
        }
        &__path {
            visibility: hidden;
        }
    }
    @media (max-width: $bp2) {
        .logo-nn {
            max-width: 232px;
        }
    }
    @media (max-width: $bp3) {
        &--sticky {
            padding: 114px 0 60px;
        }
        .logo-nn {
            max-width: 200px;
        }
        .swiper {
            overflow: hidden;
        }
        .swiper-slide {
            min-height: 0;
            padding: 0;
            justify-content: flex-start;
            &:first-child {
                display: none;
            }
        }
        .swiper-pagination {
            display: flex;
            margin-top: 24px;
        }
        &__wrapper {
            min-height: 400px;
            padding: 56px 24px 40px;
        }
        &__content {
            max-width: 600px;
            h2,
            .h4 {
                margin-bottom: 16px;
            }
        }
    }
    @media (max-width: $bp4) {
        .logo-nn {
            max-width: 160px;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 32px;
            border-radius: 40px;
        }
    }
}
.text-block {
    h2 {
        max-width: 815px;
        padding-right: 50px;
        justify-self: start;
        &:after {
            bottom: 0;
            transform: translateY(-180%);
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: 13fr 9fr;
        gap: 24px;
        align-items: start;
        margin-left: calc(100% / 24);
        margin-right: calc(100% / 24);
    }
    &__content {
        .page-content {
            max-width: 550px;
            margin-bottom: 32px;
        }
    }
    @media (max-width: $bp1) {
        padding: 50px 0;
        h2 {
            padding-right: 40px;
            &:after {
                transform: translateY(-135%);
            }
        }
    }
    @media (max-width: $bp2) {
        &__inner {
            margin: 0;
        }
    }
    @media (max-width: $bp4) {
        padding: 20px 0;
        h2 {
            padding-right: 0;
            &:after {
                right: -24px;
            }
        }
        &__inner {
            grid-template-columns: 1fr;
        }
    }
}
.about {
    .container {
        justify-content: center;
        align-items: center;
    }
    &__path {
        position: absolute;
        pointer-events: none;
        path {
            animation: path-anim 1s linear both;
        }
        &:nth-child(1) {
            top: 26%;
            left: 0;
            path {
                stroke-dasharray: 1223px;
                stroke-dashoffset: 1223px;
            }
        }
        &:nth-child(2) {
            top: 38%;
            right: 0;
            path {
                stroke-dasharray: 915px;
                stroke-dashoffset: 915px;
            }
        }
        @media (max-width: $bp2) {
            display: none;
        }
    }
    &__inner {
        width: 100%;
        max-width: 1161px;
    }
    &__content {
        max-width: 1065px;
        text-align: center;
        margin: 0 auto 60px;
        p {
            color: $carmine;
        }
    }
    @media (max-width: $bp1) {
        &__path {
            transform: scale(0.7);
            &:nth-child(1) {
                top: 12%;
                left: -4%;
                transform-origin: center left;
            }
            &:nth-child(2) {
                top: 34%;
                right: -2%;
                transform-origin: center right;
            }
        }
        &__inner {
            max-width: 760px;
        }
        &__content {
            max-width: 600px;
            margin-bottom: 48px;
        }
    }
}
.fundraising {
    h2 {
        color: $light-blue;
        margin-bottom: 40px;
    }
    .main-btn {
        color: $carmine;
        background: $light-blue;
        svg {
            fill: $carmine;
        }
    }
    &__bg {
        padding: 125px 24px;
        background: $carmine;
        border-radius: 60px;
        position: relative;
        overflow: hidden;
        .svg-path {
            &:nth-child(1) {
                top: -20px;
                left: -20px;
            }
            &:nth-child(2) {
                bottom: -20px;
                right: -20px;
            }
        }
    }
    &__content {
        width: calc(100% / 24 * 16 - 24px);
        margin: 0 auto;
        text-align: center;
    }
    @media (max-width: $bp1) {
        h2 {
            margin-bottom: 24px;
        }
        .svg-path {
            transform: scale(0.7);
            &:nth-child(1) {
                top: -50px;
                transform-origin: top left;
            }
            &:nth-child(2) {
                transform-origin: bottom right;
            }
        }
        &__bg {
            padding: 90px 24px;
        }
        &__content {
            max-width: 683px;
        }
    }
    @media (max-width: $bp3) {
        h2 {
            margin-bottom: 40px;
        }
        .main-btn {
            width: 100%;
            max-width: 384px;
        }
        &__bg {
            padding: 56px 16px;
            border-radius: 40px;
        }
        &__content {
            width: 100%;
        }
    }
}
.team {
    .swiper {
        height: 100%;
    }
    .swiper-wrapper {
        justify-content: flex-end;
    }
    .swiper-slide {
        padding: 0 20px;
        transition: all 0.5s ease;
        will-change: width;
        @media (min-width: $bp3) {
            &.active {
                .item-team .media-cover img {
                    height: 115%;
                }
                .item-team__content {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition: all 0.5s 0.4s ease;
                }
            }
        }
    }
    .swiper-pagination {
        display: none;
    }
    &__inner {
        display: grid;
        grid-template-columns: 9fr 12fr;
        gap: 20px;
        margin-left: calc(100% / 24);
        margin-right: calc(100% / 24 * 2);
    }
    &__left {
        min-height: 704px;
        border-radius: 60px;
        background: $carmine;
        display: flex;
        flex-direction: column;
    }
    &__content {
        padding: 60px;
        margin-top: auto;
        h2 {
            color: $light-blue;
            margin-bottom: 32px;
        }
        p {
            color: $light-blue;
            font-size: 24px;
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__right {
        min-width: 0;
    }
    @media (max-width: $bp1) {
        .swiper-slide {
            padding: 0 16px;
        }
        .svg-path {
            transform: scale(0.5);
            transform-origin: top left;
        }
        &__inner {
            grid-template-columns: 9fr 13fr;
            gap: 16px;
            margin-right: calc(100% / 24);
        }
        &__left {
            min-height: 515px;
        }
        &__right {
            margin-right: -24px;
        }
        &__content {
            padding: 32px 40px;
            p {
                font-size: 18px;
                margin-bottom: 24px;
            }
        }
    }
    @media (min-width: $bp3) and (max-width: $bp2) {
        &__left .svg-path {
            display: block;
        }
    }
    @media (max-width: $bp2) {
        .swiper-slide {
            padding: 0 8px;
        }
        &__inner {
            margin: 0;
            gap: 12px;
        }
        &__right {
            margin-right: 0;
        }
        &__left {
            min-height: 470px;
        }
        &__content {
            h2 {
                margin-bottom: 16px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp3) {
        .swiper {
            overflow: visible;
        }
        .swiper-slide {
            padding: 0;
        }
        .swiper-wrapper {
            justify-content: flex-start;
        }
        .swiper-pagination {
            display: flex;
            margin-top: 24px;
        }
        &__inner {
            display: block;
        }
        &__left {
            min-height: 0;
            border-radius: 40px;
            margin-bottom: 24px;
        }
        &__content {
            padding: 48px 24px;
        }
    }
}
.item-team {
    height: 100%;
    border-radius: 60px;
    border: 1px solid $carmine;
    position: relative;
    overflow: hidden;
    h3 {
        font-size: 30px;
        color: $carmine;
        margin-bottom: 16px;
        display: -webkit-box;
        -webkit-box-direction: vertical;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        span {
            display: block;
        }
    }
    .media-cover {
        height: 100%;
        img {
            will-change: height;
            transition: all 0.5s ease;
        }
    }
    &__content {
        padding: 32px 48px;
        border-radius: 60px;
        border: 1px solid $carmine;
        background: $white-blue;
        position: absolute;
        bottom: -1px;
        left: -1px;
        right: -1px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all 0s linear;
        transform: translateY(30px);
    }
    &__contact {
        max-width: 100%;
        min-height: 30px;
        color: $pol-blue;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__contact.mail {
        padding-left: 38px;
        background: url(../img/icons/mail.svg) center left/ contain no-repeat;
    }
    @media (min-width: $bp1) {
        &__contact {
            font-size: 22px;
        }
    }
    @media (max-width: $bp1) {
        &__content {
            padding: 24px 32px;
            h3 {
                font-size: 24px;
                margin-bottom: 8px;
            }
        }
        &__contact {
            min-height: 24px;
        }
        &__contact.mail {
            padding-left: 30px;
            background-position: top -2px left;
        }
    }
    @media (max-width: $bp2) {
        border-radius: 40px;
        h3 {
            font-size: 22px;
        }
        &__content {
            padding: 24px;
            border-radius: 40px;
        }
    }
    @media (max-width: $bp3) {
        h3 {
            margin-bottom: 16px;
        }
        .media-cover {
            height: 436px;
        }
        &__content {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        &__contact {
            font-weight: 500;
            color: $carmine;
        }
    }
}
