.events,
.news {
    .swiper {
        max-width: calc(100% / 24 * 22);
        margin: 0 auto;
        overflow: visible;
        padding-bottom: 40px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 64px 24px;
    }
    @media (max-width: $bp1) {
        &__items {
            gap: 48px 24px;
        }
    }
    @media (max-width: $bp2) {
        .swiper {
            max-width: 100%;
        }
        &__items {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: $bp5) {
        &__items {
            gap: 16px 8px;
        }
    }
    @media (max-width: $bp6) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}
.item-event,
.item-news {
    border: 1px solid #f9faff;
    border-radius: 60px;
    @media (max-width: $bp1) {
        border-radius: 40px;
    }
    @media (max-width: $bp3) {
        h3 {
            font-size: 20px;
        }
    }
}
.item-event {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s 0.3s linear;
    &:hover {
        border-color: transparent;
        transition: all 0.3s linear;
        .media-cover,
        .item-event__content {
            border-radius: 60px;
        }
        .item-event__content {
            border-color: #f9faff;
        }
    }
    .media-cover {
        padding-top: 80.35%;
        border-radius: 60px 60px 0 0;
        transition: all 0.3s linear;
    }
    &__content {
        padding: 32px 48px 48px;
        border: 1px solid transparent;
        background: $white-blue;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 60px 60px;
        box-shadow: 0 16px 40px 0 rgba(202, 215, 250, 0.24);
        transition: all 0.3s linear;
        h3 {
            max-width: 304px;
            margin-bottom: 16px;
        }
        span {
            display: block;
            color: $pol-blue;
            margin-top: auto;
        }
    }
    @media (max-width: $bp1) {
        &:hover {
            .media-cover,
            .item-event__content {
                border-radius: 40px;
            }
        }
        .media-cover {
            border-radius: 40px 40px 0 0;
        }
        &__content {
            padding: 16px 24px 32px;
            border-radius: 0 0 40px 40px;
        }
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 16px 16px 24px;
        }
    }
}
.item-news {
    display: block;
    padding: 48px 48px 64px;
    background: $white-blue;
    box-shadow: 0 16px 40px 0 rgba(202, 215, 250, 0.24);
    &:hover {
        .item-news__content h3 {
            color: $carmine;
        }
    }
    .media-cover {
        padding-top: 49.43%;
        border-radius: 60px;
    }
    &__preview {
        margin-bottom: 16px;
    }
    &__content {
        h3 {
            margin-bottom: 16px;
            transition: all 0.3s linear;
        }
        span {
            display: block;
            color: $pol-blue;
            margin-bottom: 16px;
        }
    }
    @media (max-width: $bp1) {
        padding: 24px 24px 32px;
        .media-cover {
            border-radius: 40px;
        }
        &__preview {
            margin-bottom: 32px;
        }
    }
    @media (max-width: $bp2) {
        padding: 24px 16px 32px;
        &__preview {
            margin-bottom: 24px;
        }
        &__content {
            span,
            h3 {
                margin-bottom: 8px;
            }
        }
    }
}
.news--ideas {
    .item-news {
        border-color: $carmine;
        cursor: default;
        &:hover {
            .item-news__content h3 {
                color: $maincolor;
            }
        }
        @media (min-width: $bp1) {
            &__content {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}
.article {
    margin-bottom: 48px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 320px;
        height: 500px;
        background: url(../img/article-bg.jpg) center / cover no-repeat;
        pointer-events: none;
        z-index: -1;
    }
    h1 {
        margin-bottom: 24px;
    }
    &__inner {
        border-radius: 60px;
        border: 1px solid #f9faff;
        background: $white-blue;
        padding: 60px calc(100% / 24);
    }
    &__date {
        display: block;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 48px;
    }
    &__img img {
        border-radius: 60px;
        margin: 0 auto 48px;
    }
    &__row {
        display: grid;
        grid-template-columns: 20fr 4fr;
        gap: 24px;
    }
    &__sticky {
        position: sticky;
        top: 120px;
    }
    @media (max-width: $bp1) {
        &__date,
        &__img {
            margin-bottom: 32px;
        }
        &__sticky {
            top: 100px;
        }
        &__date {
            font-size: 18px;
        }
        &__img img {
            border-radius: 40px;
        }
    }
    @media (max-width: $bp2) {
        &__inner {
            border-radius: 40px;
        }
        &__row {
            grid-template-columns: 19fr 5fr;
        }
    }
    @media (max-width: $bp3) {
        h1 {
            margin-bottom: 16px;
        }
        &__inner {
            padding: 48px 24px;
        }
        &__row {
            grid-template-columns: 1fr;
        }
        &__aside {
            grid-area: 1/1/2/2;
        }
        &__date {
            font-size: 14px;
            margin-bottom: 24px;
        }
        &__img {
            margin-bottom: 24px;
        }
    }
    @media (max-width: $bp4) {
        &__inner {
            padding: 24px;
        }
    }
}
.article-part {
    max-width: 1027px;
    margin-top: 48px;
    h2 {
        margin-bottom: 48px;
    }
    .tabs {
        margin-bottom: 32px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px 140px;
        align-items: center;
    }
    @media (max-width: $bp1) {
        max-width: 628px;
        margin-top: 32px;
        h2 {
            margin-bottom: 32px;
        }
        &__items {
            gap: 48px 24px;
        }
    }
    @media (max-width: $bp2) {
        &__items {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }
    @media (max-width: $bp3) {
        .tabs {
            margin-bottom: 24px;
        }
    }
}
.item-part {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 16px;
    align-items: center;
    .media-cover {
        padding-top: 100%;
        border-radius: 50%;
    }
    &__content {
        h4 {
            font-weight: 500;
            color: $pol-blue;
            margin-bottom: 16px;
        }
    }
    @media (max-width: $bp1) {
        grid-template-columns: 80px 1fr;
        &__content {
            h4 {
                margin-bottom: 12px;
            }
        }
    }
    @media (max-width: $bp1) {
        align-items: start;
        &__content {
            align-self: center;
        }
    }
    @media (max-width: $bp4) {
        grid-template-columns: 72px 1fr;
    }
    @media (max-width: $bp7) {
        grid-template-columns: 1fr;
        gap: 12px;
        .media-cover {
            width: 72px;
            height: 72px;
            padding-top: 0;
        }
    }
}
