html,
body {
  height: 100%;
  &::-webkit-scrollbar-thumb {
    background-color: $pol-blue;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    background-color: $light-blue;
  }
}
body {
  min-width: 320px;
  background: $light-blue;
  font-family: "Graphik", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: $maincolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
  overflow-x: hidden;
  @media (max-width: $bp1) {
    font-size: 16px;
  }
}
.no-scroll {
  overflow: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
.text-l,
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
}
.text-l,
h1,
.h1,
h2,
.h2 {
  color: $carmine;
}
.text-l,
.page-content h1 {
  font-size: 84px;
  line-height: 1.04;
  @media (max-width: $bp1) {
    font-size: 56px;
  }
  @media (max-width: $bp2) {
    font-size: 38px;
  }
  @media (max-width: $bp3) {
    font-size: 32px;
  }
}
h1,
.h1,
h2,
.h2 {
  font-size: 56px;
  line-height: 1.03;
  @media (max-width: $bp1) {
    font-size: 32px;
  }
}
h3,
.h3 {
  font-size: 30px;
  line-height: 1.12;
  @media (max-width: $bp1) {
    font-size: 24px;
  }
  @media (max-width: $bp2) {
    font-size: 22px;
  }
}
h4,
.h4 {
  font-size: 24px;
  line-height: 1.25;
  @media (max-width: $bp1) {
    font-size: 18px;
  }
  @media (max-width: $bp2) {
    font-size: 16px;
  }
}
h5,
.h5 {
  font-size: 20px;
  line-height: 1.2;
  @media (max-width: $bp1) {
    font-size: 16px;
  }
}
h6,
.h6 {
  font-size: 18px;
  line-height: 1.25;
  @media (max-width: $bp1) {
    font-size: 16px;
  }
}
h5,
.h5,
p {
  @media (max-width: $bp2) {
    line-height: 1.25;
  }
}
.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 24px;
  margin: 0 auto;
  @media (max-width: $bp2) {
    padding: 0 15px;
  }
  @media (max-width: $bp7) {
    padding: 0 10px;
  }
}
.fixed-block {
  min-width: 320px;
}
.media-cover {
  display: block;
  position: relative;
  overflow: hidden;
  img,
  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.media-contain {
  display: block;
  position: relative;
  overflow: hidden;
  img,
  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
  }
}
.section {
  margin-bottom: 180px;
  overflow: hidden;
  &:last-child {
    margin-bottom: 120px;
  }
  @media (max-width: $bp1) {
    margin-bottom: 120px;
    &:last-child {
      margin-bottom: 80px;
    }
  }
  @media (max-width: $bp2) {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  @media (max-width: $bp3) {
    margin-bottom: 80px;
  }
  @media (max-width: $bp4) {
    margin-bottom: 60px;
  }
}
.mb-100 {
  margin-bottom: 100px;
  @media (max-width: $bp3) {
    margin-bottom: 40px;
  }
}
.mb-80,
.events {
  margin-bottom: 80px;
  @media (max-width: $bp2) {
    margin-bottom: 60px;
  }
  @media (max-width: $bp3) {
    margin-bottom: 40px;
  }
  @media (max-width: $bp4) {
    margin-bottom: 20px;
  }
}
.mb-80 , .mb-40{
  &:last-child {
    margin-bottom: 0;
  }
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-40 {
  margin-bottom: 40px;
  @media (max-width: $bp1) {
    margin-bottom: 24px;
  }
}
.mb-60 {
  margin-bottom: 60px;
}
.page-top {
  margin-bottom: 80px;
  text-align: center;
  h1,
  h2,
  h3 {
    color: $carmine;
  }
  @media (max-width: $bp1) {
    margin-bottom: 40px;
  }
  @media (max-width: $bp4) {
    margin-bottom: 24px;
  }
}
.page-content {
  max-width: 1027px;
  h1,
  h2 {
    color: $maincolor;
  }
  h1,
  h2,
  ul,
  ol,
  p {
    margin-bottom: 32px;
  }
  h3,
  h4,
  h5,
  h6,
  hr {
    margin-bottom: 16px;
  }
  li {
    margin-bottom: 24px;
  }
  p,
  li {
    font-size: 24px;
    line-height: 1.25;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 24px;
  }
  ul li {
    padding-left: 32px;
  }
  ul li {
    position: relative;
    &::before {
      content: "";
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      background: url(../img/icons/bullet.svg) center/contain no-repeat;
    }
  }
  ol li {
    list-style: decimal;
    margin-left: 48px;
    padding-left: 8px;
    &::marker {
      font-weight: 500;
      color: $carmine;
    }
  }
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $light-carmine;
    }
  }
  img,
  figure,
  iframe,
  video,
  table {
    margin: 0 auto 40px;
  }
  table {
    thead {
      tr {
        padding-bottom: 24px;
      }
      td {
        font-size: 24px;
        font-weight: 500;
        color: $carmine;
      }
    }
    tbody {
      tr {
        padding: 16px 0;
        border-bottom: 1px solid $light-carmine;
      }
    }
  }
  @media (max-width: $bp1) {
    max-width: 628px;
    img,
    figure,
    iframe,
    video,
    table {
      margin-bottom: 32px;
    }
    h1,
    h2,
    ul,
    ol,
    p {
      margin-bottom: 24px;
    }
    p,
    li {
      font-size: 18px;
    }
    ul {
      padding-left: 11px;
    }
    ol li {
      margin-left: 35px;
    }
  }
  @media (max-width: $bp2) {
    p,
    li {
      font-size: 16px;
      margin-bottom: 16px;
    }
    ul {
      padding-left: 6px;
    }
    ul li {
      padding-left: 28px;
    }
    ol li {
      margin-left: 30px;
      padding-left: 4px;
    }
  }
}
.page-content-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 32px;
  img {
    margin: 0 !important;
  }
  @media (max-width: $bp1) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $bp5) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.rub {
  &:after {
    content: "₽";
    margin-left: 3px;
  }
}
.btn,
.btn-main {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.main-btn,
.btn-main {
  color: $light-blue;
  padding: 18px 40px;
  border-radius: 66px;
  background: $carmine;
  position: relative;
  svg {
    fill: $light-blue;
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  &:hover {
    box-shadow: 0 12px 34px 0 rgba(188, 37, 91, 0.26);
  }
  span,
  svg {
    transition: all 0.3s linear;
  }
  &.page-loading {
    pointer-events: none;
    &:before {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      background: url(../img/icons/loading.svg) center/contain no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span,
    svg {
      opacity: 0;
    }
  }
  @media (max-width: $bp1) {
    padding: 16px 32px;
  }
  @media (max-width: $bp7) {
    padding: 16px 20px;
  }
}
.success__btn {
  margin-top: 32px;
  svg {
    display: none;
  }
}
.stroke-btn {
  color: $carmine;
  padding: 16px 32px 16px 32px;
  border: 1px solid $carmine;
  border-radius: 80px;
}
.link {
  line-height: 1;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: $maincolor;
    transition: all 0.6s ease;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
.main-link {
  color: $carmine;
  padding-right: 11px;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 6px solid $carmine;
    position: absolute;
    right: 0;
    top: calc(50% - 0.25px);
    transform: translateY(-50%);
    transition: all 0.3s linear;
  }
  &:after {
    content: "";
    flex: 0 0 40px;
    width: 40px;
    height: 1px;
    background: $carmine;
    transition: all 0.3s linear;
    margin-left: 16px;
    transform-origin: left center;
  }
  &:hover {
    color: $light-carmine;
    &:after {
      transform: scaleX(0.8);
      background: $light-carmine;
    }
    &:before {
      right: 11px;
      border-left: 6px solid $light-carmine;
    }
  }
}
.text-align {
  text-align: center;
}
.accordion {
  padding: 40px 56px;
  border-radius: 40px;
  background: $white-blue;
  h3 {
    color: $maincolor;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &.active {
      svg {
        fill: $light-carmine;
        transform: rotate(180deg);
      }
    }
    svg {
      fill: $carmine;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      transition: all 0.3s linear;
      margin-left: 16px;
    }
  }
  &__body {
    display: none;
  }
  &__content {
    padding-top: 16px;
    p {
      color: $pol-blue;
      max-width: 630px;
      margin-bottom: 12px;
    }
  }
  @media (max-width: $bp1) {
    &__header {
      &.active {
        svg {
          transform: scale(0.7) rotate(180deg);
        }
      }
      svg {
        transform: scale(0.7);
      }
    }
  }
  @media (max-width: $bp2) {
    padding: 24px;
  }
}
.item-checkbox {
  input {
    display: none;
  }
  input:checked + span {
    &:before {
      border-color: $carmine;
      background: $carmine;
    }
    &:after {
      opacity: 1;
    }
  }
  span {
    font-weight: 500;
    color: $carmine;
    display: flex;
    position: relative;
    text-align: left;
    &:before,
    &:after {
      content: "";
      display: block;
      transition: all 0.3s linear;
    }
    &:before {
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 1px solid $light-carmine;
      margin: 3px 12px 4px 4px;
    }
    &:after {
      width: 10px;
      height: 6px;
      background: url(../img/icons/check.svg) center / contain no-repeat;
      opacity: 0;
      position: absolute;
      top: 8px;
      left: 7px;
      z-index: 2;
    }
  }
  @media (max-width: $bp1) {
    span {
      &:before {
        margin: 0 8px 0 0;
      }
      &:after {
        top: 5px;
        left: 3px;
      }
    }
  }
}
.custom-select {
  width: 289px;
  height: 56px;
  position: relative;
  &.open {
    .custom-select__body {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    .custom-select__selected {
      svg {
        fill: $light-carmine;
        transform: rotate(180deg);
      }
    }
  }
  &__selected {
    font-weight: 500;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    border: 1px solid $carmine;
    overflow: hidden;
    cursor: pointer;
    svg {
      fill: $carmine;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      transition: all 0.4s ease;
    }
    span {
      color: $carmine;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 16px;
    }
  }
  &__body {
    padding: 25px 12px;
    background-color: $light-blue;
    border-radius: 40px;
    border: 1px solid $carmine;
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    width: 389px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
    z-index: 2;
    .item-checkbox {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__options {
    padding: 7px 20px;
    max-height: 450px;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
      background-color: $light-carmine;
      border-radius: 80px;
    }
    &::-webkit-scrollbar {
      width: 8px;
      border: 1px solid $light-carmine;
      border-radius: 80px;
      background-color: transparent;
    }
  }
  @media (max-width: $bp1) {
    width: 194px;
    &.open {
      .custom-select__selected {
        svg {
          transform: scale(0.7) rotate(180deg);
        }
      }
    }
    &__selected {
      padding: 16px;
      svg {
        transform: scale(0.7);
      }
    }
    &__body {
      width: 250px;
      padding: 16px 6px;
      border-radius: 24px;
    }
    &__options {
      padding: 8px 12px;
      &::-webkit-scrollbar {
        width: 4px;
      }
    }
  }
  @media (max-width: $bp2) {
    &__body {
      padding: 16px 8px;
    }
    &__options {
      padding: 0 8px;
    }
  }
  @media (max-width: $bp3) {
    width: 100%;
    max-width: 269px;
    &__selected {
      padding: 16px 24px;
    }
    &__body {
      top: calc(100% + 8px);
      right: 0;
      width: 100%;
    }
    &__options {
      max-height: 430px;
    }
  }
  @media (max-width: $bp5) {
    max-width: 384px;
  }
}
.hover-bg {
  position: relative;
  z-index: 1;
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:before {
    content: "";
    display: block;
    background: rgba($light-carmine, 20%);
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -12px;
    right: -12px;
    border-radius: 40px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s linear;
  }
  @media (max-width: $bp1) {
    &:before {
      border-radius: 20px;
      left: -6px;
      right: -6px;
    }
  }
  @media (max-width: $bp2) {
    &:before {
      content: none;
    }
  }
}
.swiper {
  min-width: 0;
  overflow: hidden;
  position: relative;
}
.swiper-fade,
.swiper-wrapper {
  transform: translate3d(0, 0, 0);
}
.swiper-wrapper {
  height: 100%;
  display: flex;
}
.swiper-slide {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}
.swiper-slide-active {
  z-index: 2;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  display: block;
  flex: 0 0 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid $carmine;
  cursor: pointer;
  transition: all 0.2s linear;
  &:last-child {
    margin-right: 0 !important;
  }
}
.swiper-pagination-bullet-active {
  background: $carmine;
  pointer-events: none;
}
[data-fancy] {
  cursor: pointer;
}
.svg-path {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s linear;
  path {
    transition: all 0.5s linear;
  }
  @media (max-width: $bp2) {
    display: none;
  }
}
.tabs,
.form-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  a,
  span {
    font-weight: 500;
    color: $carmine;
    display: block;
    padding: 15px 31px;
    border-radius: 20px;
    border: 1px solid $carmine;
    cursor: pointer;
    transition: all 0.3s linear;
    user-select: none;
  }
  @media (max-width: $bp1) {
    a,
    span {
      padding: 15px 23px;
    }
  }
  @media (max-width: $bp5) {
    a,
    span {
      font-size: 15px;
      border-radius: 16px;
    }
  }
}
.tabs {
  margin: -12px -8px;
  a,
  span {
    margin: 12px 8px;
    &.active {
      color: $light-blue;
      background: $carmine;
      pointer-events: none;
    }
  }
  @media (max-width: $bp3) {
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0 -15px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
    a,
    span {
      white-space: nowrap;
      margin: 0 4px;
      &:first-child {
        margin-left: 15px;
      }
      &:last-child {
        margin-right: 15px;
      }
    }
  }
  @media (max-width: $bp7) {
    margin-left: -10px;
    margin-right: -10px;
    a,
    span {
      &:first-child {
        margin-left: 10px;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
  }
}
.form-tabs {
  margin: -7px;
  label {
    input {
      display: none;
      &:checked + span {
        color: $light-blue;
        background: $carmine;
      }
    }
  }
  a,
  span {
    margin: 7px;
  }
  @media (max-width: $bp2) {
    margin: -4px;
    a,
    span {
      margin: 4px;
    }
  }
}
.my-cursor {
  cursor: none;
  @media (max-width: $bp2) {
    cursor: auto;
  }
}
.cursor-img {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  overflow: show;
  @media (max-width: $bp2) {
    opacity: 0 !important;
  }
}
.item-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span,
  a {
    line-height: 1.2;
    font-weight: 500;
    color: $carmine;
  }
  span {
    margin-bottom: 4px;
    &:first-child {
      color: $pol-blue;
      font-weight: 400;
    }
  }
  a {
    color: $carmine;
    &:hover {
      color: $light-carmine;
    }
  }
  .social {
    margin-top: 8px;
  }
}
.icon-heart {
  display: inline-flex;
  position: relative;
  padding-right: 50px;
  &:after {
    content: "";
    display: block;
    width: 36px;
    height: 34px;
    background: url(../img/icons/heart.svg) center / contain no-repeat;
    position: absolute;
    right: 0;
  }
}
.item-form {
  margin-bottom: 16px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &.show-reset {
    .item-form__reset {
      visibility: visible;
      opacity: 1;
    }
  }
  &.show-password {
    .item-form__eye {
      background-image: url(../img/icons/eye-unshow.svg);
    }
  }
  input,
  textarea {
    font-size: 18px;
    font-weight: 500;
    color: $maincolor;
    padding: 14px 23px;
    border: 1px solid #d2628c;
    transition: all 0.3s linear;
    &::placeholder {
      font-size: 18px;
      color: #d2628c;
    }
    &:hover,
    &:focus {
      border-color: $carmine;
    }
  }
  input {
    line-height: 24px;
    padding-right: 110px;
    border-radius: 80px;
    &.error {
      color: $maincolor;
      border-color: $red !important;
      margin-top: 0;
    }
  }
  textarea {
    min-height: 100px;
    resize: vertical;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: -6px;
  }
  .error {
    font-size: 16px;
    color: $red;
    margin-top: 4px;
  }
  &__btns {
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 23px;
    button {
      width: 40px;
      height: 24px;
      border-right: 1px solid $carmine;
      background-position: center left;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 16px;
      &:last-child {
        width: 24px;
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
        &::after {
          content: none;
        }
      }
    }
  }
  &__reset {
    visibility: hidden;
    opacity: 0;
    background-image: url(../img/icons/close.svg);
  }
  &__eye {
    background-image: url(../img/icons/eye-show.svg);
  }
  @media (max-width: $bp1) {
    margin-bottom: 12px;
    .error {
      font-size: 14px;
    }
    input,
    textarea {
      font-size: 16px;
      padding-top: 13px;
      padding-bottom: 13px;
      &::placeholder {
        font-size: 16px;
      }
      .error {
        font-size: 16px;
      }
    }
    textarea {
      min-height: 80px;
    }
  }
  @media (max-width: $bp2) {
    textarea {
      border-radius: 24px;
    }
  }
  @media (max-width: $bp3) {
    input {
      padding-right: 85px;
    }
    &__btns {
      top: 16px;
      button {
        width: 30px;
        height: 20px;
        margin-right: 10px;
        &:last-child {
          width: 20px;
        }
      }
    }
  }
  @media (max-width: $bp7) {
    input,
    textarea {
      padding: 14px 16px;
    }
    input {
      padding-right: 83px;
    }
  }
}
.file-form {
  margin-bottom: 32px;
  .media-contain {
    padding-top: 100%;
  }
  &__ava {
    position: relative;
  }
  &__top {
    padding: 16px 32px;
    display: grid;
    grid-template-columns: 144px 1fr;
    align-items: start;
    gap: 24px;
    border: 1px dashed $pol-blue;
    position: relative;
    input {
      display: block;
      position: absolute;
      opacity: 0;
    }
    p {
      align-self: center;
      text-align: center;
      max-width: 277px;
      span {
        font-weight: 500;
        color: $carmine;
      }
    }
  }
  &__img {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 16px;
    left: 32px;
    bottom: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &__body {
    margin-top: 16px;
    p {
      color: $pol-blue;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: $bp1) {
    &__top {
      grid-template-columns: 122px 1fr;
    }
    &__img {
      width: 122px;
      height: 122px;
    }
  }
  @media (max-width: $bp2) {
    p {
      font-size: 14px;
    }
  }
  @media (max-width: $bp4) {
    &__top {
      padding: 8px 16px;
      grid-template-columns: 80px 1fr;
      gap: 16px;
    }
    &__img {
      width: 80px;
      height: 80px;
      top: 8px;
      left: 16px;
    }
  }
}
.form {
  button {
    cursor: pointer;
  }
  p {
    font-size: 18px;
  }
  .form-tabs {
    margin-bottom: 16px;
  }
  .item-checkbox {
    display: inline-block;
    position: relative;
    input {
      display: block;
      position: absolute;
      opacity: 0;
    }
    span {
      font-size: 18px;
      font-weight: 400;
      color: $pol-blue;
      display: block;
      padding-left: 28px;
      &:before {
        position: absolute;
        left: 0;
      }
      a {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
  &__fieldset {
    margin-bottom: 32px;
    h4,
    h6 {
      font-weight: 500;
      margin-bottom: 16px;
    }
    h4 {
      font-size: 22px;
    }
    h6 {
      color: $carmine;
    }
    .item-checkbox {
      max-width: 600px;
      margin: 16px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & + .form__footer {
      margin-top: 32px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    .item-form {
      margin-bottom: 0 !important;
    }
  }
  &__footer {
    margin-top: 56px;
    .main-btn {
      width: 100%;
    }
  }
  @media (max-width: $bp1) {
    p {
      font-size: 16px;
    }
    .item-checkbox span {
      font-size: 16px;
    }
    &__grid {
      gap: 12px;
      margin-bottom: 12px;
    }
    &__fieldset {
      h4 {
        font-size: 20px;
      }
      .item-checkbox span {
        font-size: 16px;
      }
    }
    &__footer {
      margin-top: 32px;
    }
  }
  @media (max-width: $bp2) {
    &__grid {
      grid-template-columns: 1fr;
    }
    &__fieldset {
      h4 {
        font-size: 16px;
      }
      .item-checkbox {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
.switch-block {
  [data-tab] {
    cursor: pointer;
    &.active {
      pointer-events: none;
    }
  }
  [data-block] {
    display: none;
    transition: all 0.4s linear;
    &.active {
      display: block;
    }
  }
}
