.progress-bar {
    height: 8px;
    position: relative;
    margin-bottom: 16px;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $pol-blue;
        border-radius: 80px;
    }
    span {
        display: block;
        width: 0%;
        height: 100%;
        border-radius: 80px;
        background: $carmine;
        position: relative;
        z-index: 1;
        transition: all 1s ease;
        max-width: 100%;
    }
}
.help, .funds {
    &__items {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 64px 24px;
    }
    @media (max-width: $bp1) {
        &__items {
            gap: 48px 24px;
        }
    }
    @media (max-width: $bp2) {
        &__items {
            gap: 16px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: $bp5) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}
.main-help {
    @media (min-width: $bp1) {
        .help__items {
            gap: 32px 24px;
        }
    }
}
.help {
    .swiper {
        padding: 0 2px;
    }
    h1 {
        margin-bottom: 32px;
    }
    .text-align {
        margin-top: 40px;
        white-space: nowrap;
    }
	&__top {
        margin-left: calc(100% / 24);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        h2 {
            margin-right: 16px;
        }
    }
    &__actions {
        flex: 1 1 100%;
        display: flex;
        gap: 8px 16px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &__tabs {
        border: 1px solid #b71351;
        border-radius: 20px;
        padding: 7px;
        display: inline-flex;
        align-items: center;
    }
    &__tab {
        font-weight: 500;
        color: $carmine;
        padding: 18px 64px;
        border-radius: 20px;
        white-space: nowrap;
        margin-right: 10px;
        transition: all .1s linear;
        &.active {
            color: $white-blue;
            background: $carmine;
            transition: all .3s linear
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__block {
        display: none;
        transition: all .5s ease-in-out;
        &.active {
            display: block
        }
    }
	&__selects {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: -8px;
        .custom-select {
            margin-right: 24px;
            margin-bottom: 8px;
        }
        .custom-select:last-child {
            margin-right: 0;
            .custom-select__body {
                left: auto;
                right: 0;
            }
        }
    }
    &__items {
        min-height: 460px;
    }
    @media (min-width: $bp1) {
        &__top {
            margin-bottom: 60px;
        }
    }
    @media (max-width: $bp1) {
        &__selects {
            .custom-select {
                margin-right: 8px;
            }
        }
        &__tabs {
            padding: 3px;
            border-radius: 16px;
        }
        &__tab {
            padding: 16px 48px;
            border-radius: 16px;
        }
    }
    @media (max-width: $bp2) {
        .text-align {
            margin-top: 32px;
        }
        &__top {
            margin-left: 0;
        }
    }
    @media (max-width: $bp3) {
        &--block {
            position: relative;
            padding-bottom: 52px;
            .help__top .text-align {
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
            }
        }
        &__top {
            display: block;
            h2 {
                margin-bottom: 24px;
            }
        } 
        &__actions {
            display: block;
        }
        &__tabs {
            margin-bottom: 24px;
        }
        &__tab {
            flex-grow: 1;
        }
        &__selects {
            .custom-select:last-child {
                .custom-select__body {
                    left: 0;
                    right: auto;
                }
            }
        } 
        &__items {
            min-height: 430px;
        }    
    }
    @media (max-width: $bp5) {
        &__tabs {
            width: 100%;
            padding: 3px;
            margin-bottom: 8px;
        }
        &__tab {
            font-size: 15px;
            padding: 16px;
            border-radius: 16px;
        }
        &__selects {
            display: block;
            margin-bottom: 0;
            .custom-select {
                max-width: 100%;
                margin-right: 0;
            }
        }
    }
    @media (max-width: $bp6) {
        &__tabs {
            flex-wrap: wrap;
        }
        &__tab {
            margin-right: 0;
        }
    }
}
.item-help, .item-fund {
    margin-bottom: -40px;
    .main-btn, .stroke-btn {
        width: 100%;
    }
    .media-cover, .media-contain {
        padding-top: 42.76%;
        border-radius: 60px;
    }
    &__content {
        padding: 32px 48px;
        border-radius: 60px;
        background: $white-blue;
        position: relative;
        top: -40px;
        transition: all .4s ease-out;
    }
    &__details {   
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__det { 
        span {
            display: block;
            &:last-child {
                font-weight: 500;
                margin-top: 4px;
            }
        }
        &:first-child {
            span {
                color: $carmine;
            }
        }
        &:last-child {
            span {
                color: $pol-blue;
            }
        }
    }
    @media (max-width: $bp1) {
        margin-bottom: -24px;
        .media-cover, .media-contain {
            border-radius: 40px;
        }
        &__content {
            padding: 24px;
            border-radius: 40px;
            top: -24px;
        }
        &__details {
            margin-bottom: 24px;
        }
        &__det {
            .h4 {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__content {
            padding: 24px 16px 32px;
        }
    }
}
.item-help {
    position: relative;
    &.closed {
        .item-help__body {       
            opacity: 0.4;
        }      
    }
    &:hover {
        .media-cover {
            border-color: $carmine;
        }
        .item-help__content {
            top: -60px;
            &:before {
                border-color: $carmine;
            }
        }
    }
    h3 {
        max-width: 500px;
        margin-bottom: 32px;
        margin-top: auto;
    }
    .media-cover {
        border: 1px solid #F9FAFF;
        transition: all .4s ease-out;
    }
    &__status {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        direction: rtl;
        margin: 0 -8px -8px;
        position: absolute;
        z-index: 1;
        left: 24px;
        right: 24px;
        top: 24px;
        span {
            line-height: 1.2;
            padding: 10px 32px;
            border-radius: 80px;
            margin: 0 8px 8px;
            white-space: nowrap;
            &.fulfilled {
                background: $light-blue;
            }
            &.closed {
                color: $light-blue;
                background: $pol-blue;
            }
        }
    }
    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        &:before {
            content: "";
            display: block;
            border-radius: 60px;
            position: absolute;
            top: 1px;
            left: -1px;
            right: -1px;
            height: 100%;
            z-index: -1;
            border: 1px solid transparent;
            transition: all .4s ease-out;
        }
    }
    &__info {
        margin-bottom: 16px;
    }
    &__fund {
        color: $pol-blue;
    }
    &__auth {
        color: $pol-blue;
        display: flex;
        align-items: center;
        picture, img {
            flex: 0 0 48px;
            margin-right: 16px;
        }
        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__auth + .item-help__fund {
        padding-left: 64px;
        margin-top: 4px;
    }
    @media (max-width: $bp1) {
        h3 {
            margin-bottom: 24px;
        }
        &:hover {
            .item-help__content {
                top: -40px;
            }
        }
        &__status {
            margin: 0 -4px -4px;
            left: 16px;
            right: 16px;
            top: 16px;
            span {
                padding: 8px 24px;
                margin: 0 4px 4px;
            }
        }
        &__content {
            &:before {
                border-radius: 40px;
            }
        }
        &__auth {
            picture, img {
                margin-right: 8px;
            }
        }
        &__info {
            margin-bottom: 24px;
        }
        &__auth + .item-help__fund {
            padding-left: 56px;
        }
    }
    @media (max-width: $bp2) {
        &__status {
            span {
                font-size: 14px;
                padding: 4px 15px;
            }
        }
    }
    @media (max-width: $bp5) {
        &__info {
            font-size: 16px;
        }
    }
}
.help-pg {
	h1 {
        max-width: calc(100% / 10 * 7);
    }
	&__info {
        max-width: calc(100% / 15 * 10);
        margin-top: auto;
    }
	&__details {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 16px;
    }
	&__det {
        span {
            color: $carmine;
            display: block;
            &:last-child {
                font-weight: 500;
                margin-top: 4px;
            }
        }
        &:nth-child(2) {
            text-align: center;
        }
        &:last-child {
            span {
                color: $pol-blue;
            }
        }
    }
    @media (min-width: $bp2) and (max-width: $bp1) {
        .progress-bar {
            height: 6px
        }
        &__det {
            .h4 {
                 font-size: 20px;
             }
         }
    }
    @media (max-width: $bp1) {
        h1 {
            max-width: 360px;
        }
        .intro-pg__logo {
            margin-right: 0;
        }
    }
    @media (max-width: $bp3) {
        .progress-bar {
            margin-bottom: 24px;
        }
    }
}
.item-report {
    max-width: 319px;
    color: $pol-blue;
    padding: 15px 5px 15px 23px;
    border: 1px solid $pol-blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    svg {
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        fill: $pol-blue;
        margin-right: 24px;
    }
    @media (max-width: $bp1) {
        max-width: 250px;
        padding: 15px 5px 15px 15px;
        padding-left: 20px;
        svg {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }
    }
    @media (max-width: $bp4) {
        padding: 15px;
        svg {
            margin-right: 16px;
        }
    }
    @media (min-width: $bp7) and (max-width: $bp6) {
        font-size: 20px;
        svg {
            flex: 0 0 32px;
            width: 32px;
            height: 32px;
            margin-right: 16px;
        }
    }
}
.transactions {
    margin-bottom: 50px;
    h2{
        span {
            display: block;
        }
    }
    table {
        td {
            width: auto;
            padding: 16px 12px;
            text-align: center;
            &:first-child {
                text-align: left;       
                span {
                    display: block;
                    white-space: nowrap;
                    &:first-child {
                        margin-bottom: 8px;
                    }
                }
            }
        }
        thead {
            td {
                font-size: 24px;
                font-weight: 500;
                color: $carmine;
                padding-top: 0;
                padding-bottom: 24px;
            }
        }
        tbody{
            tr {
                border-bottom: 1px solid $light-carmine;
            }
        }
    }
    .item-report {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0
        };
    }
    &__inner {
        margin-left: calc(100% / 24);
        display: grid;
        grid-template-columns: 10fr 13fr;
        align-items: start;
        gap: 24px;
    }
    &__content {
        padding-top: 84px;
        h4 {
            font-weight: 500;
            color: $carmine;
            margin-top: 24px;
        }
    }
    &__data {
        padding: 84px calc(100% / 13 * 2) 64px calc(100% / 13);
        border-radius: 60px;
        background: $white-blue;
    }
    &__items {
        margin-bottom: 56px;
        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            color: $pol-blue;
            margin-bottom: 24px;
        }
    }
    &__cols {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        gap: 24px;
        align-items: start;
    }
    &__details {
        max-width: 370px;
    }
    &__det {
        margin-bottom: 32px;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            display: block;
            &:first-child {
                color: $pol-blue;
                margin-bottom: 4px;
            }
        }
    }
    &__download {
        font-size: 18px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        svg {
            fill: $carmine;
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
    }
    @media (min-width: $bp3) {
        &--report .transactions__data {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }
    @media (max-width: $bp1) {
        table {
            td {
                padding: 12px;
            }
            thead {
                td {
                    font-size: 18px;
                    padding-bottom: 20px;
                }
            }
        }
        .item-report {
            margin-bottom: 16px;
        }
        &__inner {
            grid-template-columns: 11fr 12fr;
        }
        &__content {
            padding-top: 64px;
        }
        &__data {
            padding: 64px calc(100% / 12) 48px;
        }
        &__items {
            margin-bottom: 32px;
            h3 {
                margin-bottom: 16px;
            }
        }
        &__cols {
            grid-template-columns: 1fr 1fr;
        }
        &__details {
            grid-column: auto;
        }
        &__det {
            margin-bottom: 24px;
        }
        &__download {
            font-size: 16px;
        }
    }
    @media (max-width: $bp3) {
        table {
            td {
                padding: 16px 8px 12px;
            }
            thead {
                td {
                    font-size: 16px;
                    padding-bottom: 20px;
                }
            }
        }
        &__inner {
            grid-template-columns: 10fr 12fr;
            margin-left: 0;
        }
        &__data {
            padding: 48px 32px;
            border-radius: 40px;
        }
        &__cols {
            grid-template-columns: 1fr;
        }
    }
    @media (max-width: $bp4) {
        h2 {
            span {
                display: inline;
            }
        }
        &__inner {           
            grid-template-columns: 1fr;
        } 
        &__content h4 {
            margin-top: 8px;
        } 
        &__data {
            padding: 32px 24px;
        }  
        &__items {
            margin-bottom: 40px;
        }  
        &__download {
            svg {
                flex: 0 0 32px;
                width: 32px;
                height: 32px;
                margin-right: 16px;
            }
        }
    }
    @media (max-width: $bp6) {
        table td {
            font-size: 14px;
        }
        .item-report {
            max-width: 100%;
        }
    }
    @media (max-width: $bp7) {
        table td {
            font-size: 13px;
            padding: 16px 5px 12px;
        }
    }
}
.gallery {
    overflow: hidden;
    .swiper {
        overflow: visible;
    }
    .media-cover {
        padding-top: 56.13%;
        border-radius: 60px;        
    }
    @media (max-width: $bp2) {
        .media-cover {
            border-radius: 40px;        
        }
    }
}
.desc-sec {
    position: relative;
    .mb-48:last-child {
        margin-bottom: 0;
    }
}
.desc-block {  
	&__inner {
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(24,1fr);
        gap: 24px;
        border-radius: 60px;
        border: 1px solid #F9FAFF;
        background: $white-blue;
    }
    &__left {
        grid-column: 2/12;
        h3 {
            margin-bottom: 24px;
        }
        .media-contain {
            padding-top: 42.87%;
            margin-bottom: 48px;
            img {
                width: 100%;
                border-radius: 60px;
            }
        }
    }
    &__contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 24px;
    }
	&__content {
        grid-column: 13/24;
        min-height: 100%;
        max-height: calc(100vh - 208px);
        overflow: hidden;
        position: relative;
        &.extra:after {
            opacity: 1;
        }
        &:after {
            content: "";
            display: block;
            height: 50px;
            background: linear-gradient(180deg, rgba(0, 0, 255, 0) 0, $white-blue);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 24px;
            transition: all .3s linear;
            opacity: 0;
            pointer-events: none;
        }
        .page-content {
            height: 100%;
            padding-right: calc(100% / 11 - 8px);
            overflow: auto;
            &::-webkit-scrollbar-thumb {
                background-color: $light-carmine;
                border-radius: 80px;
            } 
            &::-webkit-scrollbar {
                width: 8px;
                border: 1px solid $light-carmine;
                border-radius: 80px;
                background-color: transparent;
            }
        }
    }
    @media (max-width: $bp1) {
        &__inner {
            padding: 60px 0;
        }
        &__left {
            grid-column: 2/13;
            .media-contain {
                margin-bottom: 32px;
                img {
                    border-radius: 32px;
                }
            }
        }
        &__content {
            grid-column: 14/24;
            .page-content {
                padding-right: calc(100% / 10 - 27px);
                &::-webkit-scrollbar {
                    width: 4px;
                }
            }
        }
        &__contacts {
            gap: 24px;
        }
    } 
    @media (max-width: $bp3) {
        &__inner {
            padding: 48px 24px;
            grid-template-columns: 1fr 1fr;
            border-radius: 40px;
        }
        &__left {
            grid-column: 1/2;
            .media-contain img {
                border-radius: 40px;
            }
        }
        &__content {
            grid-column: 2/3;
        }
        &__contacts {
            grid-template-columns: 1fr;
        }
    }  
    @media (max-width: $bp4) {
        &__inner {
            padding: 0;
            grid-template-columns: 1fr;
            gap: 16px;
            border: none;
            background: none;
            border-radius: 0;
        }
        &__left, &__content {
            padding: 24px;
            border-radius: 40px;
            background: $white-blue;
        }
        &__left {
            grid-area: 2/1/3/2;
        }
        &__content {
            min-height: 300px;
            grid-area: 1/1/2/2;
            .page-content {
                padding-right: 0;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                    width: 0;
                    height: 0
                };
            }
        }
    }
}
.shift-top {
    margin-top: -60px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(0deg, $light-blue 0%, rgba(202, 215, 250, 0.8) 100%);
        z-index: -1;
    }
}
.trans-cards {
    margin-bottom: 16px;
    &__items { 
        width: 100%;
        min-height: 82px;
        position: relative;
        display: flex;
        direction: rtl;
    }
    &__item {
        direction: ltr;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $carmine;
        border-radius: 60px;
        background: $light-blue;
        white-space: nowrap;
        flex-grow: 1;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        overflow: hidden;
        transition-duration: .5s;
        transition-delay: calc((var(--i) + 2) * .2s + .2s);    
    }
    &__icon {
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        svg {
            fill: $carmine;
            width: 100%;
            height: 100%;
        }
    }
    &__date {
        font-size: 16px;
        color: $carmine;
        margin-bottom: 4px;
    }
    &__quantity {
        font-weight: 500;
        color: $carmine;
    }
    @media (max-width: $bp1) {
        &__items {
            min-height: 66px;
        }
        &__item {
            padding: 12px 24px;
        }
        &__icon {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }
        &__date {
            font-size: 14px;
        }
    }
    @media (max-width: $bp3) {
        margin-bottom: 24px;
    }
}
.fixed-btn {
    padding: 15px;
    border-radius: 40px;
    position: fixed;
    width: 100%;
    background: $white-blue;
    bottom: 0;
    transform: translateY(101%);
    transition: all .5s linear;
    z-index: 2;
    .btn {
        width: 100%;
    }
    @media (max-width: $bp5) {
        &.show {
            transform: translateY(0);
        }
    }
}

