.intro {
  padding: 240px 0 24px;
  position: relative;
  overflow: hidden;
  h1 {
    max-width: 760px;
    margin-bottom: 32px;
  }
  &__inner {
    display: grid;
    grid-template-columns: 15fr 8fr;
    gap: 24px;
    align-items: end;
    margin-left: calc(100% / 24);
  }
  &__content {
    margin-bottom: 100px;
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    direction: rtl;
    margin-bottom: 48px;
    .media-cover {
      flex: 0 0 194px;
      width: 194px;
      height: 194px;
      border-radius: 50%;
      margin-right: -57px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
  &__card {
    display: block;
    padding: 59px 56px;
    border: 1px solid #f9faff;
    border-radius: 60px;
    backdrop-filter: blur(4px);
    background: rgba(233, 238, 255, 0.3);
    margin-bottom: 32px;
    &:hover {
      border-color: $carmine;
      &:before {
        animation: heart-fadeup 3s forwards;
      }
      .main-btn {
        box-shadow: 0 12px 34px 0 rgba(188, 37, 91, 0.26);
      }
    }
    &:before {
      content: "";
      width: 27px;
      height: 25px;
      background: url(../img/icons/heart.svg) center/contain no-repeat;
      display: block;
      position: absolute;
      top: -40px;
      right: 80px;
      opacity: 0;
      transition: all 0.3s linear;
    }
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      margin-bottom: 24px;
    }
    h5 {
      max-width: 406px;
      color: $pol-blue;
      margin-bottom: 40px;
    }
  }
  &__btns {
    text-align: center;
    margin: -13px -13px 45px;
    &:last-child {
      margin-bottom: -13px;
    }
    .btn {
      margin: 13px;
    }
    @media (max-width: $bp5) {
      margin: 0 0 36px;
      .btn {
        width: 100%;
        margin: 0 0 12px;
      }
    }
  }
  @media (max-width: $bp1) {
    padding-top: 140px;
    h1 {
      max-width: 500px;
    }
    &__card {
      margin-bottom: 16px;
    }
    &__items {
      margin-bottom: 24px;
      .media-cover {
        flex: 0 0 124px;
        width: 124px;
        height: 124px;
        margin-right: -37px;
      }
    }
    &__card {
      padding: 40px 32px;
      h3 {
        margin-bottom: 16px;
      }
      h5 {
        margin-bottom: 24px;
      }
      .main-btn svg {
        margin-right: 8px;
      }
    }
    &__content {
      margin-bottom: 70px;
    }
  }
  @media (max-width: $bp2) {
    &__inner {
      margin-left: 0;
    }
  }
  @media (max-width: $bp3) {
    padding-top: 110px;
    h1 {
      margin-bottom: 16px;
    }
    &__inner {
      display: block;
    }
    &__left {
      margin-bottom: 24px;
    }
    &__content {
      margin-bottom: 40px;
    }
    &__right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px 16px;
    }
    &__card {
      padding: 40px 24px;
      border-radius: 40px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .main-btn {
        margin-top: auto;
      }
    }
  }
  @media (max-width: $bp5) {
    &__items .media-cover {
      flex: 0 0 86px;
      width: 86px;
      height: 86px;
      margin-right: -25px;
    }
    &__right {
      grid-template-columns: 1fr;
    }
    &__card {
      .main-btn {
        width: 100%;
        max-width: 334px;
      }
    }
  }
}
.intro-bg {
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
    &:nth-child(2) {
      animation: bg-anim 7.5s 2.5s linear infinite both;
    }
    &:nth-child(3) {
      animation: bg-anim 7.5s linear infinite both;
    }
  }
}
.intro-stat {
  padding: 32px 38px;
  border: 1px solid #f9faff;
  border-radius: 40px;
  background: rgba(233, 238, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 16px 10px;
    .h2 {
      font-weight: 400;
      white-space: nowrap;
    }
    span {
      display: block;
      color: $carmine;
    }
  }
  @media (max-width: $bp1) {
    padding: 14px 14px;
    &__item {
      .h2 {
        margin-right: 16px;
      }
    }
  }
  @media (max-width: $bp2) {
    padding: 8px 0;
    &__item {
      text-align: center;
      flex: 1 1 auto;
      margin: 14px;
      .h2 {
        margin: 0 0 4px;
      }
    }
  }
  @media (max-width: $bp5) {
    justify-content: center;
    &__item {
      &:first-child {
        flex: 1 1 100%;
        justify-content: center;
      }
    }
  }
}
.intro-path {
  position: absolute;
  top: -2.5%;
  left: 39%;
  pointer-events: none;
  path {
    transition: all 0.5s linear;
    stroke-dasharray: 840px;
    stroke-dashoffset: 840px;
    animation: path-anim 1s linear both;
  }
  @media (max-width: $bp1) {
    left: 30%;
    transform: scale(0.7);
    transform-origin: top center;
  }
  @media (max-width: $bp2) {
    display: none;
  }
}
.intro-pg {
  min-height: calc(100vh + 60px);
  padding: 260px 0 120px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  @media (min-height: 1300px) {
    min-height: 1300px;
  }
  h1 {
    margin-bottom: 32px;
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .main-btn + .intro-pg__date {
    span {
      display: block;
    }
  }
  &__row {
    flex: 1;
    display: grid;
    grid-template-columns: 10fr 5fr 7fr;
    gap: 0 12px;
    margin-left: calc(100% / 24);
    margin-right: calc(100% / 24);
  }
  &__sec {
    &:nth-child(2n) {
      grid-column: 3/4;
    }
    &:nth-child(3) {
      align-self: end;
    }
  }
  &__info,
  &__action {
    display: flex;
    align-items: center;
    margin-bottom: -16px;
    .main-btn {
      white-space: nowrap;
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }
  &__info {
    flex-wrap: wrap;
  }
  &__dates {
    display: flex;
    .intro-pg__date {
      text-align: left;
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      span {
        display: block;
      }
    }
  }
  &__date,
  &__stat {
    font-size: 16px;
    color: $pol-blue;
    text-align: center;
    margin-bottom: 16px;
    .h3 {
      font-weight: 400;
    }
  }
  &__auth,
  &__logo {
    margin-right: calc(100% / 7 + 12px);
  }
  &__auth {
    display: grid;
    grid-template-columns: 138px 1fr;
    gap: 24px;
    align-items: start;
    margin-bottom: 40px;
    .media-cover {
      padding-top: 100%;
      border-radius: 50%;
    }
    h4 {
      align-self: center;
    }
  }
  &__logo {
    &.media-contain {
      padding-top: 29.73%;
      //background: #D4DEFE;
      img {
        margin: auto 0;
      }
    }
    img {
      max-height: 160px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -8px -8px;
    margin-top: auto;
    span {
      min-width: 108px;
      text-align: center;
      color: $pol-blue;
      display: block;
      padding: 15px 31px;
      border-radius: 20px;
      border: 1px solid $pol-blue;
      margin: 8px;
    }
  }
  @media (max-width: $bp1) {
    padding-top: 180px;
    h1 {
      margin-bottom: 24px;
    }
    .main-btn {
      min-width: 218px;
    }
    &__row {
      grid-template-columns: 12fr 3fr 7fr;
    }
    &__auth {
      grid-template-columns: 100px 1fr;
      margin-bottom: 32px;
      margin-right: 0;
    }
    &__logo {
      img {
        max-height: 120px;
      }
      &.media-contain {
        padding-top: 37.71%;
      }
    }
    &__tags {
      margin: -4px -4px;
      span {
        padding: 15px;
        margin: 4px;
      }
    }
  }
  @media (max-width: $bp2) {
    &__row {
      margin: 0;
      grid-template-columns: 10fr 2fr 7fr;
      gap: 0;
    }
    &__content {
      max-width: 80%;
    }
  }
  @media (max-width: $bp3) {
    padding: 135px 0 100px;
    .main-btn {
      min-width: 0;
    }
    &__row {
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 1fr;
      gap: 40px;
    }
    &__sec {
      &:nth-child(2n) {
        grid-column: 1/2;
      }
    }
    &__logo {
      margin-right: 0;
      max-width: 300px;
      &.media-contain {
        padding-top: 0;
        position: static;
        background: none;
        img {
          position: static;
        }
      }
    }
    &__tags {
      max-width: 540px;
      span {
        padding: 15px 12px;
      }
    }
  }
  @media (max-width: $bp4) {
    min-height: 100vh;
    &__logo {
      max-width: 254px;
      img {
        max-height: 80px;
      }
    }
    &__auth {
      grid-template-columns: 72px 1fr;
      gap: 16px;
      margin-bottom: 16px;
    }
    &__action {
      .main-btn {
        margin-right: 10px;
      }
    }
    &__stat,
    &__date {
      font-size: 14px;
    }
    &__stat {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 16px;
      text-align: left;
      span {
        display: block;
      }
    }
  }
}
@keyframes heart-fadeup {
  0% {
    opacity: 1;
  }
  50% {
    transform: translate(-0%, -700%);
  }
  100% {
    opacity: 0;
    transform: translate(-0%, -500%);
  }
}
@keyframes bg-anim {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes path-anim {
  100% {
    stroke-dashoffset: 0;
  }
}
.help-pg,
.fund {
  @media (max-width: $bp4) {
    min-height: 0;
  }
}
