:root {--vh: 1%}
$bp1: 1700.98px;
$bp2: 1200.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 479.98px;
$bp7: 369.98px;
$maincolor: #243245;
$carmine: #B71351;
$light-carmine: #ff9bbf;
$pol-blue: #41536D;
$light-blue: #E6ECFF;
$white-blue: #F2F5FF;
$white: #FFFFFF;
$black: #000000;
$red: #EA0029


